<a href="https://colab.research.google.com/github/Ramkumarpk82/DS_WE16_Assignments/blob/main/Assignment1_Execrcise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

For example: List = [54, 44, 27, 79, 91, 41]

In [ ]:
# Expected Output
Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

In [17]:
OrgLst = [34, 54, 67, 89, 11, 43, 94]
print('Original list :',  OrgLst)
Indx4Val = OrgLst.pop(4)
print('List After removing element at index 4 :', OrgLst)
OrgLst[2] = Indx4Val
print('List after Adding element at index 2 :', OrgLst)
OrgLst.append(Indx4Val)
print('List after Adding element at last  :', OrgLst)

Original list : [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4 : [34, 54, 67, 89, 43, 94]
List after Adding element at index 2 : [34, 54, 11, 89, 43, 94]
List after Adding element at last  : [34, 54, 11, 89, 43, 94, 11]

## Exercise Question 2: Given a two list of equal size create a list of unique elements from both the lists into a seperate list

In [ ]:
# Expected output
First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

In [18]:
FrstLst = [2, 3, 4, 5, 6, 7, 8]
ScndLst = [4, 9, 16, 25, 36, 49, 64]
list(set(FrstLst + ScndLst))

[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

## Exercise Question 3: Remove duplicate from a list and create a tuple and find the minimum and maximum number (Hint: Try Functions Min() and Max() )

In [ ]:
# Expected Output
Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

In [16]:
OrgLst = [87, 52, 44, 53, 54, 87, 52, 53]
print ('Original list ',OrgLst)
UnqLst = list(set(OrgLst))
print ('Unique list ',UnqLst)
tple = tuple(UnqLst)
print ('tuple ',tple)
print ('Minimum number is: ',min(OrgLst))
print ('Maximum number is: ',max(tple))

Original list  [87, 52, 44, 53, 54, 87, 52, 53]
Unique list  [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

## Exercise Question 4: Display the each word in the string Count the number of words in a string and display it (Including the white spaces)

In [ ]:
#Printing each words seperately 
a = "what's up?"
print(*a)

w h a t ' s   u p ?

In [22]:
a = "what's up?"
print(*a) ; len(a)

w h a t ' s   u p ?

10

The sample string: Welcome to Python
Printing each words seperately:  W e l c o m e   t o   P y t h o n
The Length of the string 17

In [25]:
sampstr ='Welcome to Python'
print('The sample string: ',sampstr)
print('Printing each words seperately:  ',*sampstr)
print("The Length of the string ",len(sampstr)) ;

The sample string:  Welcome to Python
Printing each words seperately:   W e l c o m e   t o   P y t h o n
The Length of the string  17

##  Exercise Question 5: Write a Python program to access dictionary keys element by index. i.e. Use indexing methods to print the first key

The dictionary is:  {'physics': 80, 'math': 90, 'chemistry': 86}
The key element accesed by index:  physics

In [44]:
dict =  {'physics': 80, 'math': 90, 'chemistry': 86}
print('The dictionary is:  ', dict) ; print(dict.keys()) ; print(dict.values())
print('The key element accesed by index:  physics is' ,dict['physics'])
dict.items()

The dictionary is:   {'physics': 80, 'math': 90, 'chemistry': 86}
dict_keys(['physics', 'math', 'chemistry'])
dict_values([80, 90, 86])
The key element accesed by index:  physics is 80

dict_items([('physics', 80), ('math', 90), ('chemistry', 86)])